<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h2 class="text-center mb-4">Crea tu cuenta</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :first_name,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "first name" },
                        label: "Nombre",
                        placeholder: "Ingresa tu nombre" %>
            <%= f.input :last_name,
                        required: false,
                        input_html: { autocomplete: "last name" },
                        label: "Apellido",
                        placeholder: "Ingresa tu apellido" %>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" },
                        label: "Correo electrónico",
                        placeholder: "Ingresa tu correo electrónico" %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        label: "Contraseña",
                        placeholder: "Ingresa tu contraseña" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        label: "Confirmar contraseña",
                        placeholder: "Confirma tu contraseña" %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Crea tu cuenta", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


