<div class="row">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>

    <div class="col-12 col-lg-2  d-flex flex-column flex-lg-row align-items-center">
        <%= link_to image_tag("logo.png", class: "img-fluid", style: "width: 60px; height: 30px;"), root_path %>
      <h6 class="ms-2">Bienvenido a CarMania</h6>
    </div>

    <% end %>
    <div class="col-12 col-lg-8">
    </div>
     <div class="col-12 col-lg-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pe-4">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home",root_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://static.vecteezy.com/system/resources/previews/018/865/413/non_2x/car-driver-simple-flat-icon-illustration-free-vector.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to "My orders", my_orders_path, class: "nav-link" %>
              <%= link_to "My orders", my_cars_path, class: "nav-link" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>
</div>


