Esto es un Test
<%= link_to "newcar", new_car_path,class:"btn btn-primary"%>
  <div class="botones-searchbar col-6 d-flex">
    <%= link_to "Crea tu cuenta", root_path, class: "btn btn-primary" %>
    <%= link_to "Ayuda", root_path, class: "btn btn-primary" %>
    <%= link_to "Publica tu Vehiculo", new_car_path, class: "btn btn-primary" %>
    <%= link_to "Lamborghini Gratis!", root_path, class: "btn btn-primary" %>
  </div>
</div>
</div>

<div class="row d-flex">
<div class="Contenedor-Principal">
  <div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="contenedor-buscador">
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="input-group">
            <input class="form-control" type="text" name="search[query]" id="search_query" placeholder="Quiero mi Lamborghini...." />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dpqwlencu/image/upload/v1/development/fqupyan9g6ivrn4aorhezb25ow5d.jpg?_a=BACCd2Bn'); background-size: cover; background-position: center; height: 200px;">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
      <h1>Autos a tu alcance! <strong>Facil</strong> de <strong>acceder</strong>!</h1>
      <p>Compra y/o Vende Ya!</p>
      <a class="btn btn-flat" href="#"></a>
    </div>
  </div>

<div class="contenedor-autos mt-4">
  <h2>Autos Disponibles</h2>
  <div class="row">
    <% @cars.last(4).each do |car| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100 border-rounded">
          <div class="card-body">
            <h5 class="card-title"><%= car.brand %></h5>
            <p class="card-text"><%= car.information %></p>
            <p class="card-text"><%= car.year %></p>
            <%= link_to "Ver Auto", car_path(car), class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-dark text-white mt-5 py-2">
  <div class="row">
    <div class="col-md-6">
      <h5>Síguenos en nuestras redes sociales</h5>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a href="https://wa.me/tu_numero" target="_blank" class="text-white">
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a href="https://www.instagram.com/giorgosdiamantidis7" target="_blank" class="text-white">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a href="https://twitter.com/Cristiano?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="text-white">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-md-end">
      <p>&copy; 2024 Giorgos Diamantidis CEO. Todos los derechos reservados.</p>
    </div>
  </div>
</div>
