<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autos a tu alcance</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      background: url("https://img.freepik.com/fotos-premium/vista-frontal-coche-generico-marca_110488-502.jpg?w=1060") no-repeat center center fixed;
      background-size: cover;
    }
    .rounded-lg {
      border-radius: 15px;
    }
    .border-secondary {
      border-color: #6c757d;
    }
    .bg-translucent {
      background: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
    }
    h2, h4, h5, h6 {
      color: #343a40; /* Color gris oscuro */
    }
    .btn-primary {
      background-color: #000; /* Botones negros */
      border-color: #000; /* Bordes negros */
      border-radius: 5px; /* Esquinas levemente redondeadas */
      padding: 0.5rem 1.5rem; /* Espaciado interno del botón */
    }
    .btn-primary:hover {
      background-color: #333; /* Color negro oscuro al pasar el mouse */
      border-color: #333; /* Bordes negros oscuros al pasar el mouse */
    }
    .form-control {
      border-radius: 5px; /* Esquinas levemente redondeadas */
    }
    .form-group label {
      font-weight: 500;
      color: #495057;
    }
    .text-center {
      font-size: 1.2rem; /* Tamaño de texto ligeramente mayor */
      color: #6c757d;
    }
    .list-unstyled h4 {
      color: #343a40; /* Color gris oscuro */
    }
    .list-unstyled img {
      border-radius: 5px; /* Esquinas levemente redondeadas */
    }
    .card {
      background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    }
    .banner h1, .banner p {
      color: white;
    }
    @media (max-width: 576px) {
      .col-md-6 {
        padding: 0 15px;
      }
    }
  </style>
</head>
<body>
  <div class="botones-searchbar col-6 d-flex">
    <%= link_to "Publica tu Auto", new_car_path, class: "btn btn-primary me-2" %>
    <%= link_to "Crea tu cuenta", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
</div>

<div class="row d-flex">
  <div class="Contenedor-Principal">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="contenedor-buscador">
            <%= simple_form_for :search, url: root_path, method: :get do |f| %>
              <div class="input-group">
                <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Quiero Mi Lamborghini" />
                <div class="input-group-append">
                  <button name="button" type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Buscar
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dpqwlencu/image/upload/v1/development/fqupyan9g6ivrn4aorhezb25ow5d.jpg?_a=BACCd2Bn'); background-size: cover; background-position: center; height: 325px;">
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
    <h1>¡Autos a tu alcance <strong>Fácil</strong> de <strong>acceder</strong>!</h1>
    <p>Compra y/o Vende Ya!</p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>

<div class="contenedor-autos mt-4 mx-auto" style="max-width: 1500px;">
  <h6>Autos Disponibles</h6>
  <% @cars.last(9).each_slice(3) do |cars_group| %>
    <div class="row mx-n3">
      <% cars_group.each do |car| %>
        <%= link_to car_path(car), class: "col-12 col-sm-6 col-md-4 mb-3 text-decoration-none d-flex justify-content-center align-items-center" do %>
          <div class="card h-100" style="width: 450px; height: 450px;">
            <div class="p-5">
              <% if car.photos.attached? %>
                <%= cl_image_tag car.photos.first.key, class: "card-img-top img-fluid" %>
              <% else %>
                <%= image_tag "logo.png", class: "card-img-top img-fluid" %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-truncate"><strong><%= car.brand%>  |  <i class="bi bi-car-front"></i></strong></h5>
              <p class="card-text text-truncate"><%= car.year %></p>
              <p class="card-text text-truncate">$ <%= car.price %></p>
              <p class="card-text text-truncate"><%= car.information %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="bg-dark text-white mt-5 py-2">
  <div class="row">
    <div class="col-md-6">
      <h5>Síguenos en nuestras redes sociales</h5>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a href="https://wa.me/tu_numero" target="_blank" class="text-white">
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a href="https://www.instagram.com/giorgosdiamantidis7" target="_blank" class="text-white">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a href="https://twitter.com/Cristiano?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="text-white">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-md-end">
      <p>&copy; 2024 Giorgos Diamantidis CEO. Todos los derechos reservados.</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
