<div class="container mt-5">
  <h2 class="text-center mb-4">¿Qué auto quieres vender?</h2>

  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <div class="row">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
          <img class="img-fluid rounded shadow" src="https://res.cloudinary.com/dpqwlencu/image/upload/e_background_removal/f_png/v1718748245/imagen35_1_wn9ar1.webp" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
          <img class="img-fluid rounded shadow" src="https://res.cloudinary.com/dpqwlencu/image/upload/e_background_removal/f_png/v1718747469/imagen13_1_hiznxg.webp" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
          <img class="img-fluid rounded shadow" src="https://res.cloudinary.com/dpqwlencu/image/upload/e_background_removal/f_png/v1718747778/imagen19_1_azirdv.webp" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Publica tu auto</h5>
          <%= simple_form_for @car do |f| %>
            <div class="row mb-3">
              <div class="col-12 col-md-6">
                <%= f.input :brand, label: "Marca", input_html: { class: 'form-control' } %>
              </div>
              <div class="col-12 col-md-6">
                <%= f.input :year, label: "Año", input_html: { class: 'form-control' } %>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-6">
                <%= f.input :color, label: "Color", input_html: { class: 'form-control' } %>
              </div>
              <div class="col-12 col-md-6">
                <%= f.input :price, as: :float, input_html: { min: 0, class: 'form-control' }, label: "Precio ($)" %>
              </div>
            </div>
            <div class="mb-3">
              <%= f.input :information, label: "Información adicional", input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'form-control' }, label: "Sube una o varias fotos" %>
            </div>
            <%= f.submit "Publica tu auto", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Beneficios</h5>
          <ul class="list-unstyled">
            <li class="mb-4 d-flex align-items-center">
              <img height="50" width="50" src="https://st2.depositphotos.com/1431107/6019/v/450/depositphotos_60191935-stock-illustration-secure-shopping-icon.jpg" class="me-3">
              <h4 class="mb-0">Compra segura</h4>
            </li>
            <li class="mb-4 d-flex align-items-center">
              <img height="50" width="50" src="https://st2.depositphotos.com/1431107/6019/v/450/depositphotos_60191935-stock-illustration-secure-shopping-icon.jpg" class="me-3">
              <h4 class="mb-0">Pago confiable</h4>
            </li>
            <li class="mb-4 d-flex align-items-center">
              <img height="50" width="50" src="https://st2.depositphotos.com/1431107/6019/v/450/depositphotos_60191935-stock-illustration-secure-shopping-icon.jpg" class="me-3">
              <h4 class="mb-0">Servicio de entrega garantizado</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

