<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Coche</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: url("https://img.freepik.com/fotos-premium/vista-frontal-coche-generico-marca_110488-502.jpg?w=1060") no-repeat center center fixed;
      background-size: cover;
    }
    .rounded-lg {
      border-radius: 15px;
    }
    .border-secondary {
      border-color: #6c757d;
    }
    .bg-translucent {
      background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    }
    h2, h4, h6 {
      color: #343a40; /* Color gris oscuro */
    }
    .btn-secondary {
      background-color: #6c757d; /* Botones gris */
      border-color: #6c757d; /* Bordes gris */
      border-radius: 5px; /* Esquinas levemente redondeadas */
    }
    .btn-secondary:hover {
      background-color: #5a6268; /* Color gris oscuro al pasar el mouse */
      border-color: #545b62; /* Bordes gris oscuro al pasar el mouse */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row m-5">
      <div class="col-12 col-lg-2">
        <% if @car.photos.present? %>
          <% 3.times do |i| %>
            <% photo = @car.photos[i % @car.photos.size] %>
            <div class="border border-secondary mb-3">
              <%= cl_image_tag photo.key, class: "img-fluid small-photo", data: { key: photo.key } %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div class="mb-3">
          <% if @car.photos.present? %>
            <%= cl_image_tag @car.photos.last.key, class: "img-fluid main-photo", id: "mainPhoto" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <div class="rounded-lg border border-secondary p-4 text-center bg-translucent">
          <div><h6><%= @car.year %> | <%= @car.color %> <i class="bi bi-heart"></i></h6></div>
          <div><h2><%= @car.brand %></h2></div>
          <h4>$ <%= @car.price %></h4>
          <p>Información: <%= @car.information %></p>
          <%= link_to 'Comprar', new_car_order_path(@car), class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const smallPhotos = document.querySelectorAll('.small-photo');
      const mainPhoto = document.getElementById('mainPhoto');

      smallPhotos.forEach(photo => {
        photo.addEventListener('click', function() {
          mainPhoto.src = this.src;
        });
      });
    });
  </script>
</body>
</html>
